<div class="contextual">
<%= link_to l(:add_contact), new_project_contact_path(project_id: @project.id), class: 'icon icon-add' %>
</div>

<h2>Contacts</h2>

<%= form_tag({ :controller => 'contacts', :action => 'index', :project_id => @project },
             :method => :get, :id => 'query_form') do %>
<div id="query_form_with_buttons" class="hide-when-print">
  <%= hidden_field_tag 'set_filter', '1' %>
  <div id="query_form_content">
<fieldset id="options" class="collapsible collapsed">
  <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
  <div style="display: none;">
    <table>
      <tr>
        <td class="field"><%= l(:field_column_names) %></td>
        <td><%= render_query_columns_selection(@query) %></td>
      </tr>
      <tr>
        <td class="field"><label for='group_by'><%= l(:field_group_by) %></label></td>
        <td><%= select_tag('group_by',
                           options_for_select(
                               [[]] + @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]},
                               @query.group_by)
                ) %></td>
      </tr>
      <tr>
        <td class="field"><%= l(:button_show) %></td>
        <td><%= available_block_columns_tags(@query) %></td>
      </tr>
      <tr>
        <td><%= l(:label_total_plural) %></td>
        <td><%= available_totalable_columns_tags(@query) %></td>
      </tr>
    </table>
  </div>
</fieldset>
    </div>

<p class="buttons">
  <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
  <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
  <% if @query.new_record? %>
      <% if User.current.allowed_to?(:save_queries, @project, :global => true) %>
          <%= link_to_function l(:button_save),
                               "$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }').submit()",
                               :class => 'icon icon-save' %>
      <% end %>
  <% else %>
      <% if @query.editable_by?(User.current) %>
          <%= link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit' %>
          <%= delete_link query_path(@query) %>
      <% end %>
  <% end %>
</p>
</div>
<% end %>

<% if @contacts.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
    <%= render_query_totals(@query) %>
    <%= render :partial => 'contacts/list', :locals => {:contacts => @contacts, :query => @query} %>
<% end %>


--------------------------------------------------------------------------------------------------------------
<% @contacts.each do |contact| %>
    <p>
      <%= contact.name %>
      <%= contact.about %>
      <%= contact.project %>

      <% contact.custom_values.each do |custom_value| %>
          <% if !custom_value.value.blank? %>
            <li><%= custom_value.custom_field.name%>: <%=h show_value(custom_value) %></li>
        <% end %>
    <% end %>

      <%= render :partial => 'attachments/links',
      :locals  => { :attachments => contact.attachments,
      :options => { :deletable => User.current.logged? }
      } %>

    <td><%= link_to l(:edit), edit_project_contact_path(@project, contact), class: 'icon icon-edit' %></td>
    <td><%= link_to l(:delete), [@project, contact], method: :delete, data: { confirm: l(:are_you_sure) }, class: 'icon icon-del' %></td>
    </p>
<% end %>